
<!--banner-->
<div class="bg">
  
    <div class="banner" style="text-align: center;">
      <h3>BEST OFFERS!!!</h3>
      <h1>NEW ARRAIVALS..</h1>
   </div>
  <!--banner end-->
  
  <!--product section-->
   <div class="container">
    <div class="row">
        <ng-container >
            <div class="card col-md-3">
                <img src="../assets/t-shirt/t-shirt (1).jpeg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item name</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item description</p>
                <p><strong>Price:</strong>1000</p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
            <div class="card col-md-3">
              <img src="../assets/t-shirt/t-shirt (2).jpeg" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item name</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item description</p>
              <p><strong>Price:</strong>1000</p>
              <button class="btn btn-primary" >Add to cart</button>
          </div>
          <div class="card col-md-3">
            <img src="../assets/t-shirt/t-shirt (3).jpeg" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item name</h5>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item description</p>
            <p><strong>Price:</strong>1000</p>
            <button class="btn btn-primary" >Add to cart</button>
        </div>
        <div class="card col-md-3">
          <img src="../assets/t-shirt/t-shirt (4).jpeg" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item name</h5>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item description</p>
          <p><strong>Price:</strong>1000</p>
          <button class="btn btn-primary" >Add to cart</button>
      </div>
      <div class="card col-md-3">
        <img src="../assets/t-shirt/t-shirt (5).jpeg" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item name</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item description</p>
        <p><strong>Price:</strong>1000</p>
        <button class="btn btn-primary" >Add to cart</button>
    </div>
    <div class="card col-md-3">
      <img src="../assets/t-shirt/t-shirt (6).jpeg" alt="">
      <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item name</h5>
      <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">item description</p>
      <p><strong>Price:</strong>1000</p>
      <button class="btn btn-primary" >Add to cart</button>
  </div>
 
  
        
        </ng-container>
  
    </div>
  </div>
  
  
  
  
   <!--
  
    <div class="container">
     <div class="row">
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal1.jpg" alt="">
        <h2 style="text-align: center;" >Formal Shirts</h2>
        <button mat-raised-button  >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal2.jpg" alt="">
        <h2 style="text-align: center;" >Casual Shirts</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal3.jpg" alt="">
        <h2 style="text-align: center;" >T-Shirts</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal4.jpg" alt="">
        <h2 style="text-align: center;" >Pants</h2>
        <button mat-raised-button color="primary" >Shop </button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal5.jpg" alt="">
        <h2 style="text-align: center;" >Jeans</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal6.jpg" alt="">
        <h2 style="text-align: center;" >Jeans</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal7.jpg" alt="">
        <h2 style="text-align: center;" >Jeans</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal8.jpg" alt="">
        <h2 style="text-align: center;" >Jeans</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal9.jpg" alt="">
        <h2 style="text-align: center;" >Jeans</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
       <div class="card col-md-3">
        <img class="img2" src="..\assets\formals\formal10.jpg" alt="">
        <h2 style="text-align: center;" >Jeans</h2>
        <button mat-raised-button color="primary" >Shop</button>
       </div>
  
  
  
     </div>
  
     
   </div> -->
  
  <!--footer-->
 <div>

  <footer>
    
    <div class="footer-container">
      
      <div class="left-col">

        <h1 style="color: aliceblue; font-size:xx-large;">Men's Fashion</h1>
      </div>

      <div class="ab">
      <div class="icons left">
        <h1 class="f-head">Connect with Us</h1>
        <i id="ico" class="bi bi-facebook"></i>
        <i id="ico" class="bi bi-instagram"></i>
        <i id="ico" class="bi bi-twitter"></i>

      </div>

      <div class="icons left" >
        <h1 class="f-head ">Contact</h1>
        <p class="contact" ><i   class="bi bi-envelope"></i> &nbsp; akash@gmail.com</p>
        <p class="contact"><i  class="bi bi-telephone"></i>&nbsp; 9876543210</p>
        

      </div>


     <div class=" left">
      <address id="address">
        
        <h1 class="f-head" >Address</h1>
        <i class="bi bi-geo-alt"></i>door no,street,<br>
        city,<br>
        district,<br>
        pincode..<br>
       
      </address>
     </div>

    </div>

    </div>
    <div class="copy-right">
      &copy; &nbsp; 2022 ,AKASH
      <span style="padding-left: 10px ;">About Us</span>
    </div>
  </footer>
 </div>

  <!--footer end-->
