<div class="body">
    <div class="center">
        <h1 style="padding-top: 10px;">LOGIN</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="pass">Forgotpassword?</div>
            <input type="submit" value="Login">
            <div class="signup_link">
                Not a member? <a routerLink="/reg" href="#">Signup</a>
            </div>
        </form>
    
</div>
