
<div class="body">
    <div class="center">
        <h1 style="padding-top: 10px;">REGISTER NOW</h1>
        <form method="post">
            <div class="txt_field">
                <input type="text" required>
                <label>Enter your name</label>
            </div>
            <div class="txt_field">
                <input type="email" required>
                <label>Enter your email</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Enter your password</label>
            </div>
            <div class="txt_field">
                <input type="password" required>
                <label>Confirm your Password</label>
            </div>
            <input type="submit" value="Register">
            <div class="signup_link">
                Allready have an account? <a routerLink="/login" href="#">Login now</a>
            </div>
        </form>
    </div>
    

