<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="navbar-brand align-item-center d-flex">
          
          <strong class="brand" style="font-size: 30px;">MEN'S FASHION</strong>
          <div class="form-group">
              <input  type="text" class="form-control" placeholder="search products">
              
          </div>
          &nbsp;&nbsp;<button class="btn btn-primary search "><span class="search" style="font-size: 30px;" class="bi bi-search" aria-hidden="true" ></span> </button>
          
      </div>

      <div>

           &nbsp;
           <button routerLink="/login" class="btn btn-primary">
            <h2 style="padding-top: 10px;"><i  style="font-size: 25px; color: aliceblue ; " class="bi bi-box-arrow-in-right">&nbsp;</i> LOGIN</h2>

          </button>

          <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 35px; color: aliceblue ; "  class="bi bi-person-circle"></i>

          </button>

          <button routerLink="cart" class="btn btn-primary">
            <i style="font-size: 35px; color: aliceblue;" class="bi bi-cart-plus"></i>
              
              <div style="font-size: 10px;" class="badge bg-danger">1</div>
          </button>
      </div>
     
      
      
      
  </div>
</header>

<!--catagorys-->
<div class="card-top container-fluid">
  <div class="container d-flex">
      <div class="item">
          <a >
              <h3 routerLink="/home" >All products</h3>
          </a>
      </div> 
      <div class="item">
          <a >
              <h3 routerLink="/formal" >Formal Shirts</h3>
          </a>
      </div>
      <div class="item">
        <a >
            <h3 routerLink="/casual" >Casual Shirts</h3>
        </a>
    </div>
      <div class="item">
          <a >
              <h3 routerLink="/t-shirts">T-Shirts</h3>
          </a>
      </div>
      <div class="item">
          <a >
              
              <h3 routerLink="/pants" >Pants</h3>
          </a>
      </div>
      <div class="item">
        <a >
            
            <h3 routerLink="/jeans">Jeans</h3>
        </a>
    </div>
  </div>
</div>